*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-color:#0f6ac0;


}
    

header{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

video{
    /* width: 100%; */
    min-width: 300%;
    min-height: 300%;
    position:fixed ;
    top: 50%;
    left: ;
    width: auto;
    height: auto;
    transform: translateX(-50%)
    translateY(-50%);
    z-index: 
    -1;
    background-size: cover;
}

.absolute{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
   
    
}


h1{
    font-size: 80px;
    font-weight: 900;
    z-index: 100;
    color:#fff;
    margin-bottom: 30px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 200px;
    font-size: 300px;
    font-weight:800;
    color: transparent;
    background-image: url(https://media.giphy.com/media/L1R1tvI9svkIWwpVYr/giphy.gif);
    background-position: center;
    -webkit-animation-iteration-count: center  ;
}

h1::after{
    display: block;
    width: 30%;
    height: 10px;
    content: "";
    margin: auto;
    background: #fff;
}
#messages { display:none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2322bdce' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.overlay{
    width: 800%;
    height: 300%;
    position: absolute;
    background: rgba(44, 163, 44, 0.575);
}

@media screen and (max-width: 800px){
    h1{
        font-size: 50px;
    }
}

@media screen and (max-width: 500px){
    h1{
        font-size: 30px;
        margin-bottom: 0;
    }

    h1::after{
        display: none;
    }
}


.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}

root {
    --primario: #199242;
    --primarioOscuro: #89119D;
    --secundario: #ca8f21;
    --secundarioOscuro: rgb(233, 187, 2);
    --blanco: rgb(33, 219, 79);
    --negro: rgb(47, 45, 194);
    --fuentePrincipal: 'Staatliches', cursive;

}

.sample-div {
    position: relative;
  }
  .transpa-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100;
    opacity: 0.5;
  }
  .content {
    position: relative;
    z-index: 10;
  }
 